<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diego Tsuyoshi</title>
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  {{>header}}
  <div class="content">

  </div>

  <div id="teste"></div>

  {{>footer}}
</body>

</html>