body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-top: 0px;
  margin-bottom: 48px;
}

header h1 {
  font-size: 50px;
}

header a,
footer a {
  color: #555555;
  margin-right: 16px;
}

footer {
  align-self: center;
  font-size: 12px;
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

.content {
  flex-grow: 1;
}

.result {
  margin-top: 50px;
}

.result input {
  display: flex;
  font-size: 15px;
  text-align: center;
}

#map {
  height: 100%;
  border: 1px solid #333333;
}

.bioma {
  text-align: center;
  font-size: 10px;
}
