{{>header}}

<div class="columns is-centered">
  <div class="column is-half">
    <div class="control">
      <label class="label" for="city">Cidade</label>
    </div>
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" name="city">
      </div>
      <div class="control">
        <button class="button is-info">Procurar</button>
      </div>
    </div>
  </div>
</div>

<div class="result">
  <div class="field">
    <label class="label is-small" for="city">Cidade: </label>
    <input class="input" type="text" name="city_result" disabled>
  </div>
  <div class="field">
    <label class="label is-small" for="city">Temperatura: </label>
    <input class="input" type="text" name="temperature_result" disabled>
  </div>
  <div class="field">
    <label class="label is-small" for="city">Sensação Térmica: </label>
    <input class="input" type="text" name="feelslike_result" disabled>
  </div>
  <div class="field">
    <label class="label is-small" for="city">% Umidade: </label>
    <input class="input" type="text" name="humidity_result" disabled>
  </div>
  <div class="field">
    <label class="label is-small" for="city">Descrição: </label>
    <input class="input" type="text" name="description_result" disabled>
  </div>
</div>

{{>footer}}